.blog{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#blog{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}
.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
}
.blog-heading span{
    color: rgb(27, 192, 76) ;
}
.blog-heading h3{
    font-size: 2.4rem;
    color: black;
    font-weight: 600;
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0;
    flex-wrap: wrap;
}
.blog-box{
    width: 370px;
    height: 556px;
    background-color: #ffff;
    border: 1px solid #ececec;
    margin: 20px;
}
.blog-img{
    width: 100%;
    height: 283px;
}
.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-text{
    padding: 30px;
    height: 271px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    font-size: 0.9rem;
}
.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
}
.blog-text .blog-title:hover{
    text-decoration: none;
    color:rgb(27, 192, 76);
    transition: all 0.3s ease-in-out;
}
.blog-text p{
    color: grey;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0;
}
.blog-text a{
    color: #0f0f0f;
    text-decoration: none;
}
.blog-text a:hover{
    color:rgb(27, 192, 76);
    transition: all 0.3s ease-in-out;
}

@media (max-width:1250px){
    .blog-box{
        width: 700px;
    }
}
@media (max-width:1200px){
    .blog-box{
        width: 70%;
        padding-bottom: 10px;
    }
    .blog-img{
        width: 100%;
        height: 400px;
    }
}
@media (max-width:750px){
    .blog-box{
        width: 90%;
        margin: 20px 0;
    }
    #blog{
        padding: 20px;
    }
}