/* Home Section */
.home {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(62, 235, 134), rgb(15, 165, 60));
    height: 50vh; 
}

/* Title and Section Text */
.title, .section-text {
    opacity: 1; 
}

.title {
    text-align: center;
}

.section-text {
    display: flex;
    gap: 1.5rem;
}

/* Buttons */
.btn{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    margin-top: 1rem;
    width: 8rem;
    border: rgb(27, 192, 76) solid 2px;
    font-family: "Poppins", sans-serif;
    border-radius: 2rem;
}
  
.btn:hover{
    background-color:rgb(66, 66, 66);
    cursor: pointer;
    color: white;
}

/* Category Container */
.category-container {
    display: flex;
    gap: 1.5rem;
    margin-top: 20px;
    margin-bottom: 27px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Category Titles */
.category-title {
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Category Details (Single Category Card) */
.category-details {
    position: relative;
    width: 100%;
    max-width: 300px; /* Adjust to fit your layout */
    overflow: hidden;
    border-radius: 1rem;
}

/* Category Image */
.category-image {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
}

/* Overlay with Text */
.category-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Hover Effect for Category Details */
.category-details:hover .category-overlay {
    opacity: 1;
}

.category-details:hover .category-image {
    transform: scale(1.2); 
}

.category-details p {
    margin: 0;
    padding: 5px 0;
    color: white !important;
}
